@model Recursiva.ViewModels.ResultsViewModel
@{
    ViewData["Title"] = "CSV Data";
}
<div class="container">
    <div class="row">
        @* Cant. personas registradas *@
        <div class="col">Total de registrados: @Model.TotalRegistrados</div>
        @* Promedio de edad *@
        <div class="col" style="text-align:end">Edad promedio de Racing: @Model.PromedioEdad</div>
    </div>
    @* Casados Universitarios *@
    <div class="row h-100">
        <div class="col overflow-auto" style="height:540px">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Equipo</th>
                        <th scope="col">Edad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var persona in Model.CasadosUniversitarios)
                    {
                        <tr>
                            <td scope="row">@persona.Nombre</td>
                            <td>@persona.Equipo</td>
                            <td>@persona.Edad</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @* Info edades *@
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Equipo</th>
                        <th scope="col">Promedio de edad</th>
                        <th scope="col">Edad máxima</th>
                        <th scope="col">Edad mínima</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var value in Model.PromedioEdades)
                    {
                        <tr>
                            <td scope="row">@value.Equipo</td>
                            <td>@value.PromedioEdad</td>
                            <td>@value.MaxEdad</td>
                            <td>@value.MinEdad</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @* Nombres más comunes *@
        <div class="col-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombres comunes de River</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var nombre in Model.NombresMasComunes)
                    {
                        <tr>
                            <td class="row">@nombre</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>